# USE THIS IF YOU'RE NOT USING NIXOS or NIX
# THIS IS FOR API CONTAINER CONFIG
# Generic Config
API_PORT=

# Database Connection Config
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# REDIS Connection Config
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# VITE FE API URL
VITE_API_BASE_URL=
